<div class="row bg-light-custom border-irregular1 block-padding p20">
  <div class="col-lg-12 col-md-12 profileform">
    <div class="form-group">
      <%= form_with(model: [current_user, @order], local: true, html: { class:'login' }) do |f| %>
        <% if @order.errors.any? %>
          <%= render 'layouts/error_messages', resource: @order %>
        <% end %>

        <div class="row">
          <div class="col-md-6">
            <label><%= t('activerecord.attributes.pet.kind_of_pet') %>: </label>
            <%= f.select(:kind_of_pet, options_for_select(kind_of_pets.map{ |key, value| [value, key]}), { }, { class: 'form-control input-field' }) %> 		                          
          </div>
        </div>

        <div class="row mt20">
          <div class="col-md-12">
            <%= f.submit btn_title, class: 'btn btn-primary mt30 pull-right' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
